

div.total{
		margin-top: 50px;
	
}
h3, .h3 {
	font-size: 2rem;
	border: 0 0 0 0;
	margin: 0 0 0 0;
	width: 70%;
}

html, body {
	width: 100%;
	height: 120%;
}

.container {
	width: 100%;
	height: 100%;
}

.left-container {
	width: 50%;
	float: left;
	box-sizing: border-box;
	border: solid;
	border-color: skyblue;
	box-sizing: border-box;
	border: solid;
	border-color: skyblue;
}

.right-container {
	width: 50%; float : right;
	box-sizing: border-box;
	border: solid;
	border-color: 777777;
	float: right;
}

.center {
	display: block;
	width: 100%;
	height: 100%;
	margin-left: 0;
	margin-right: auto;
	margin-bottom: 0px;
	border: 8px;
	padding: 10px;
}

#wapper {
	width: auto;
	text-align: left;
	min-height: 300px;
	margin: 100px 50px 0px 50px;
	height: 40%;
}

#nav_detail, #aside_detail, #section_detail {
	/* 보더 차후에 삭제 */
	border: 1px solid #999;
	margin: 5px;
	padding: 10px;
	float: left;
}

#nav_detail {
	width: 20%;
	height: 500px;
}

#section_detail {
	width: 50%;
	height: 500px;
}

#aside_detail {
	width: 28%;
	height: 500px;
}

#article_detail {
	width: 80%;
	margin: 20px;
	align-content: center;
}

.button-19 {
	appearance: button;
	background-color: #1899D6;
	border: solid transparent;
	border-radius: 16px;
	border-width: 0 0 4px;
	box-sizing: border-box;
	color: #FFFFFF;
	cursor: pointer;
	display: inline-block;
	font-family: din-round, sans-serif;
	font-size: 15px;
	font-weight: 700;
	letter-spacing: .8px;
	line-height: 20px;
	margin: 0;
	outline: none;
	overflow: visible;
	padding: 13px 16px;
	text-align: center;
	text-transform: uppercase;
	touch-action: manipulation;
	transform: translateZ(0);
	transition: filter .2s;
	user-select: none;
	-webkit-user-select: none;
	vertical-align: middle;
	white-space: nowrap;
	width:100%;
}

.parent {
	display: flex;
	align-content: center;
	border: 1px solid #999;
	margin-top: 10px;
	margin: 55px;
	vertical-align: middle;
}

.child {
	flex: 0.3;
	text-align:center;
	vertical-align: middle;
	border: 1px solid #999;
	
}

.child2 {
	flex: 1;
	text-align:center;
	
	vertical-align: middle;
	border: 1px solid #999;
	
	}



.button-19:after {
	align-content:center;
	background-clip: padding-box;
	background-color: #1CB0F6;
	border: solid transparent;
	border-radius: 16px;
	border-width: 0 0 4px;
	bottom: -4px;
	content: "";
	left: 0;
	position: relative;
	right: 0;
	top: 0;
	z-index: -1;
	
}

.button-19:main, .button-19:focus {
	user-select: auto;
}

.button-19:hover:not(:disabled) {
	filter: brightness(1.1);
	-webkit-filter: brightness(1.1);
}

.button-19:disabled {
	cursor: auto;
}